syntax:glob
*.pyc
*.pyo
*.mo
*.orig
*.swp
*.log
.DS_Store
pipobot.sqlite3
settings.yml
doc/build/*
build/*
dist/*
MANIFEST
pipobot.egg-info/*
/debian
*.debhelper
*.substvars
/distrib/debian/pipobot/
/distrib/debian/python-module-stampdir/