recursive-include pipobot *
recursive-include modules *
recursive-include doc *
recursive-include scripts *
recursive-include translation *
recursive-include examples *

include readme readme.requirements
