recursive-include pipobot *.py
recursive-include pipobot *.pot
recursive-include pipobot *.po
recursive-include pipobot *.mo
recursive-include doc *
recursive-include scripts *
recursive-include examples *

include readme readme.requirements
