lang: en
rooms:
  -
    chan: room@server
    login: jid@server
    passwd: verysecret
    ressource: here
    nick: Pipobot
    modules:
        - _all

groups:
    all:
        - bashfr
        - bashorg
        - blague
        - botanswers
        - bourse
        - chuck
        - cmdalacon
        - date
        - getjid
        - google
        - lyrics
        - mail
        - mpd
        - nextprev
        - ola
        - pendu
        - reminder
        - rps
        - spell
        - todo
        - tv
        - unicode
        - url
        - vdm
        - xhtml
