config:
    logpath: /tmp/testbot.log

database:
    engine: sqlite3
    src: bdd/database.db

lang: en

rooms:
  -
    chan: room@server
    login: jid@server
    passwd: verysecret
    ressource: here
    nick: Pipobot
    modules:
        - _all

groups:
    all:
        - bashfr
        - bashorg
        - blague
        - botanswers
        - bourse
        - chuck
        - cmdalacon
        - date
        - getjid
        - google
        - lyrics
        - mail
        - mpd
        - nextprev
        - ola
        - pendu
        - reminder
        - rps
        - spell
        - todo
        - tv
        - unicode
        - url
        - vdm
        - xhtml

modules:
    botmpd:
        host: localhost
        port: 6600
        pwd: *secret*
        datador: /path/to/music
    hg:
        default: plong
        repos:
            repo1: /path/to/repo1
            repo2: /path/to/repo2
            repo3: /path/to/repo3
