config:
    logpath: /tmp/testbot.log
    extra_modules:
        - ../modules

database:
    engine: sqlite
    src: bdd/database.db

lang: fr

rooms:
  -
    chan: room@server
    login: jid@server
    passwd: verysecret
    ressource: here
    nick: Pipobot
    modules:
        - _all

groups:
    all:
        - bashfr
        - bashorg
        - blague
        - botanswers
        - bourse
        - chuck
        - cmdalacon
        - date
        - getjid
        - google
        - mail
        - botmpd
        - nextprev
        - ola
        - pendu
        - reminder
        - rps
        - spell
        - todo
        - tv
        - unicode
        - url
        - vdm
        - xhtml

modules:
    botmpd:
        host: localhost
        port: 6600
        pwd: /secret/
        datadir: /path/to/music
    hg:
        default: repo2
        repos:
            repo1: /path/to/repo1
            repo2: /path/to/repo2
            repo3: /path/to/repo3
    url:
        repost: True
        repost-ignore:
            - exemple.org
            - sub.domain.net
