Source: pipobot
Section: net
Priority: optional
Maintainer: Vincent Duvert (VinDuv) <vincent@duvert.net>
Build-Depends: debhelper (>=8.0.0), python, python-support (>= 0.6), python-yaml, python-sleekxmpp, python-beautifulsoup, cdbs (>=0.4.49)
Standards-Version: 3.9.1

Package: pipobot
Architecture: all
Homepage: http://github.com/pipoteam/pipobot/
Depends: ${misc:Depends}, ${python:Depends}, python-yaml, python-sleekxmpp, python-beautifulsoup, python-sqlalchemy, adduser
Recommends: pipobot-modules (=1.0.0)
Description: Bot for XMPP chatrooms
 Pipobot is a modular Python-based bot for XMPP chat rooms. It provides
 modules which can react on specific commands from the room participants or
 on any text sent.
