[Unit]
Description=A bot for XMPP MUCs
After=network.target

[Service]
User=pipobot
PIDFile=/run/pipobot/pipobot.pid
ExecStart=/usr/bin/pipobot --pid /run/pipobot/pipobot.pid $CONFIG_FILE

[Install]
WantedBy=multi-user.target
